h1{
   color:teal;
    }
h3{
    color:purple;}
h2{
    color:teal;}
p{
    color:purple;
    } 
ul{color:purple;
    }
body{
    background-color:purple;
}
ol{
    color:purple;
    }
    
img{border-radius:50%;
    
    }
body{
    background-image:url("https://i.pinimg.com/236x/e2/f8/4c/e2f84cf51e5e1d2d9d46912d6326df62--seaside-style-water-me.jpg"); background-repeat:no-repeat;background-size:1070px; }
body{font-family: 'Mali', cursive; font-weight: bold;}

